@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700;800&display=swap");
body {
  box-sizing: border-box;
  margin: 0;
} /* 리셋  쓰셈 */
html, body {
  margin: 0;
}

body {
  font-family: "Segoe UI", sans-serif;
}

header {
  width: 100%; /* 헤더는 100% 자식이 가로사이즈를 가져야함 그래야 마즘 ㅇㅇ */
  padding: 20px 0;
}
header div {
  width: 1470px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
header div nav {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: flax-start;
  text-align: flax-start;
}
header div nav a {
  text-decoration-line: none;
  color: black;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 500;
}

main .mem {
  width: 100%;
  height: 347px;
  background-image: url(./img2/headimg.jpg);
  background-size: cover;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
main .mem > a {
  text-decoration-line: none;
  font-family: "Inter";
  font-size: 70px;
  font-weight: 400;
  font-style: italic;
  color: white;
  opacity: 80%;
}

article {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
article h2 {
  padding: 155px 0 20px;
  margin: 0;
  font-family: "Inter";
  font-size: 30px;
  font-weight: 800;
}
article span::before {
  content: "";
  display: block;
  width: 98px;
  border-bottom: 1px solid black;
  margin: 0;
}
article p {
  margin: 31px 0 108px;
  font-family: "Inter";
  font-size: 15px;
  font-weight: 300;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
article .menu {
  width: 1470px;
  display: flex;
  justify-content: center;
  padding-bottom: 223px;
}
article .menu > figure figcaption {
  margin-top: 38px;
  font-family: "Inter";
  font-size: 15px;
  font-weight: 300;
}

.service {
  width: 100%;
  height: 788px;
  background-image: url(./img2/img-sec02.jpg);
  display: flex;
  justify-content: flex-end; /* float: right; < 이래도 우측으로 감 */
}
.service div {
  width: 50%;
}
.service div h2 {
  padding: 70px 0 40px;
  margin: 0;
  font-family: "Inter";
  font-size: 35px;
  font-weight: 700;
}
.service div h2 span {
  color: #D91226;
}
.service div p {
  margin: 0;
  padding-bottom: 65px;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 300;
  text-align: left;
}

.icon {
  display: flex;
  text-align: center;
  /*  width: 30%; 부모가 플렉스를 가지고 있으면 가로 사이즈를 대부분 가지고 있음 */
}
.icon figure { /* < 아래 태그 쓰는 방법임 */
  /* < 아래 태그 쓰는 방법임 */
  /* < 아래 태그 쓰는 방법임 */
}
.icon figure > a {
  width: 172px;
  height: 171px;
  background-color: white;
  border: 1px solid black;
  border-radius: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: flax-start;
  margin-bottom: 21px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.icon figure:nth-of-type(1) a {
  background: white url("../img2/icon_1.png") center no-repeat;
}
.icon figure:nth-of-type(2) a {
  background: white url("../img2/icon_2.png") center no-repeat;
}
.icon figure:nth-of-type(3) a {
  background: white url("../img2/icon_3.png") center no-repeat;
}
.icon figure figcaption {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 300;
  color: #6E6E6E;
}
.icon figure figcaption span {
  font-family: "Inter";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #444444;
}

footer {
  padding-top: 192px;
}

@media (max-width:768px) {
  body {
    background-color: rgba(162, 0, 255, 0.904);
  }
}
@media (max-width:480px) {
  body {
    background-color: red;
  }
}/*# sourceMappingURL=hollysindex.css.map */